[Unit]
Description=Slack Auto Invitation App
Requires=docker.service
After=docker.service
BindsTo=docker.service

[Service]
WorkingDirectory=/opt/slackin
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
TimeoutSec=600

[Install]
WantedBy=default.target